Source: config-dlitz-tasks
Section: misc
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/dlitz/config-dlitz-tasks
Vcs-Browser: https://github.com/dlitz/config-dlitz-tasks
Vcs-Git: https://github.com/dlitz/config-dlitz-tasks.git

Package: config-dlitz-tasks
Architecture: all
Depends:
 tasksel,
 ${misc:Depends},
Suggests:
 config-dlitz-apt-aptly,
Description: dlitz tasksel package
 This package contains tasksel information for the task-dlitz-* packages.

Package: task-dlitz-desktop
Architecture: all
Section: metapackages
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-tasks,
 config-dlitz-apt-aptly,
 config-dlitz-bashrc-root,
 config-dlitz-sudo-env-desktop,
 aptitude,
 auto-apt-proxy,
 b3sum,
 binutils,
 btrfsmaintenance,
 eatmydata,
 etckeeper,
 file,
 gdisk,
 git,
 git-lfs,
 gnupg,
 jq,
 resize-tiny | xterm,
 rsync,
 vim-gtk3,
 wormhole-william | magic-wormhole,
 unzip,
 zip,
 zstd,
Suggests:
 config-dlitz-apt-bookworm-backports,
 config-dlitz-authorized-keys,
 config-dlitz-openssh-server,
 systemd-resolved,
Description: standard tools for desktops
 This task selects some useful packages for desktops.

Package: task-dlitz-server
Architecture: all
Section: metapackages
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-tasks,
 config-dlitz-acmetool,
 config-dlitz-authorized-keys,
 config-dlitz-bashrc-root,
 config-dlitz-openssh-server,
 config-dlitz-sudo-env-terminal,
 auto-apt-proxy,
 b3sum,
 eatmydata,
 etckeeper,
 git,
 git-lfs,
 jq,
 ncurses-term,
 resize-tiny | xterm,
 rsync,
 unattended-upgrades, python3-gi,
 vim,
 wormhole-william | magic-wormhole,
Suggests:
 config-dlitz-apt-aptly,
 config-dlitz-apt-bookworm-backports,
 aptitude,
 btrfsmaintenance,
 systemd-resolved,
Description: standard tools for servers
 This task selects some useful packages for servers.

Package: task-dlitz-server-baremetal
Architecture: all
Section: metapackages
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-tasks,
 task-dlitz-server,
 b3sum,
 btrfs-compsize,
 btrfs-progs,
 cryptsetup,
 dmidecode,
 efibootmgr,
 gdisk,
 hdparm,
 lvm2, thin-provisioning-tools,
 smartmontools,
 snapper,
Suggests:
 cryptsetup-initramfs,
 dropbear-initramfs,
 rasdaemon,
Description: standard tools for servers (bare-metal)
 This task selects some useful packages for bare-metal servers.

Package: task-dlitz-network
Architecture: all
Section: metapackages
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-tasks,
 arping | iputils-arping,
 bind9-dnsutils,
 bridge-utils,
 conntrack,
 ethtool,
 iperf3,
 iproute2,
 iptraf-ng,
 ndisc6,
 netcat-openbsd | netcat,
 nftables,
 sipcalc,
 tcpdump,
 wireguard-tools,
 wireshark-common,
 wormhole-william | magic-wormhole,
Suggests:
 termshark,
 tshark,
Description: network tools
 This task selects useful networking-related packages.

Package: task-dlitz-serial
Architecture: all
Section: metapackages
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-tasks,
 picocom,
 resize-tiny | xterm,
 setserial,
Suggests:
 config-dlitz-serial-getty,
 lrzsz,
 python3-serial,
Description: serial-port tools
 This task selects packages useful for systems with serial ports or serial
 consoles.

Package: task-dlitz-wireless
Architecture: all
Section: metapackages
Depends:
 ${misc:Depends},
Recommends:
 config-dlitz-tasks,
 iw,
 wireless-regdb,
Suggests:
 iwd,
Description: wireless tools
 This task selects packages useful for systems with wireless networking
 connectivity.
